{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Платежная форма{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
            <h1 class="text-center">Тестирование в демо-среде Яндекс.Касса</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form action="{{ form.target }}"
                  method="post" class="form" name="ShopForm" id="payment_form_id">
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-success">
                        {% bootstrap_icon "shopping-cart" %}
                        Оплатить "{{ order.item.name }}" x{{ order.count }} шт
                    </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Тестовая банковская карта
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                <li>Номер карты: 4268 0337 0354 5624</li>
                                <li>Действует до: любая дата в будущем</li>
                                <li>Имя и фамилия владельца: любое имя латиницей, например, IVAN DEMIDOV</li>
                                <li>Код CVV: 123</li>
                                <li>Email: свой e-mail</li>
                                <li>Код CVC: 123</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Тестовый яндекс.кошелек
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <i class="glyphicon glyphicon-warning-sign"></i>
                            Прежде чем использовать тестовый яндекс.кошелек, обязательно войдите в https://demomoney.yandex.ru с указанными ниже логином и паролем
                            <ul>
                                <li>Test-for-yamoney@yandex.ru</li>
                                <li>Пароль для входа: yamoney</li>
                                <li>Платежный пароль: testforyamoney</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}